Package: com.eswick.iconlayoutmanager
Name: Icon Layout Manager
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Evan Swick
Author: Evan Swick
Section: Tweaks
